body {
    background: blue;
    color: lightgray;
    text-align: center;
}

button {
    display: block;
    background-color: purple;
    color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
}

ul {
    list-style-type: none;
}